---
/**
 * @since 0.1.0-alpha
 *
 * @packageDocumentation
 */

/* import - types */
import type { GenericProps } from '../../../ts/00-types/index.js';
import type { ContentProps_Full as ContentProps } from '../Content.astro';

/* import - functions */

/* import - values */

/* import - components */
import Main from '../Main.astro';

/* import - layouts */

/* TYPES ===================================== */

/* PROPS ===================================== */

export type Props = GenericProps<ContentProps<'full-width'>>;

const p: Props = Astro.props.frontmatter ?? Astro.props;

/* CONSTANTS ===================================== */
---

<Main {...p.attrs.main}>
    <slot
        slot='content-header'
        name='content-header'
    />
    <slot
        slot='before-site-content'
        name='before-site-content'
    />
    <slot />
    <slot
        slot='after-site-content'
        name='after-site-content'
    />
</Main>
