---
/**
 * @since ___PKG_VERSION___
 * 
 * @packageDocumentation
 */

/* import - types */

/* import - functions */

/* import - values */

/* import - components */

/* import - layouts */
import LoremIpsum from 'src/astro/components/LoremIpsum.astro';
import DocsPage from '../../layouts/DocsPage.astro';


/* TYPES ===================================== */


/* CONSTANTS ===================================== */

---

<DocsPage title={[ 'HTML', 'SCSS' ]}>
    <p>This page demonstrates the styles included with the `html` scss template.</p>
    <hr />
    <LoremIpsum />
</Doc>