---
/**
 * @since 0.1.0-alpha
 *
 * @packageDocumentation
 */

/* import - types */
import type { GenericElementProps } from '../../ts/00-types/index.js';

/* import - functions */

/* import - values */

/* import - components */

/* import - layouts */

/* TYPES ===================================== */

/**
 * Input props for the Sidebar component.
 * 
 * @since 0.1.0-alpha
 */
export interface SidebarProps {
}

/* PROPS ===================================== */

export interface Props extends GenericElementProps<SidebarProps, 'aside'> {}

const { class: classList = [], ...attributes }: Props =
    Astro.props.frontmatter ?? Astro.props;

/* CONSTANTS ===================================== */

const rendered = Astro.slots.has('default') && Astro.slots.render('default') || null;
---

<aside
    role='complementary'
    id='sidebar'
    class:list={['site-sidebar', '||', classList]}
    {...attributes}
>
    { rendered ? (
        <!-- SLOT: "sidebar" -->
        <slot />
        <!-- /SLOT: "sidebar" -->
    ) : (
        <p class="screen-reader-text">This sidebar is empty.</p>
        <!-- SLOT: "sidebar" (empty) / -->
    ) }
</aside>

<style lang='scss'>
    @forward '../css/screen-reader-text.css';
</style>
