.archive/
.cache/
.snapshots/


# SCRIPTS
# ======= #
.scripts/logs/
.scripts/templates/
.scripts/classes/**/*.js


# RELEASES
# ======== #
@releases/**/*
!@releases/**/*.zip


# DIST
# ==== #
dist/**/*.test.d.ts
dist/**/*.test.js


# DOCS
# ==== #


# SRC
# === #
src/docs/content/exports
src/docs/css
src/tmp


# ROOT
# ==== #
.gitcommit.md
.releasenotes.md
TODO


# MISC
# ==== #
._*
.DS_Store
.smbdelete**

node_modules/

**/*.css.map
**/*.js.map
**/*.ts.map
