---
/**
 * @since 0.1.0-alpha
 *
 * @packageDocumentation
 */

/* import - types */

/* import - functions */

/* import - values */

/* import - components */
import LoremIpsum from '../../../astro/components/LoremIpsum.astro';

/* import - layouts */
import DocsPage from '../../layouts/DocsPage.astro';

/* TYPES ===================================== */

/* CONSTANTS ===================================== */
---

<DocsPage
    title={['Sidebar Left', 'Layouts']}
    subtitle='This layout has a sidebar on the left side.'
    layout='sidebar-left'
>
    <!-- <LoremIpsum /> -->
    <LoremIpsum
        mode={import.meta.env.DEV ? 'fancy' : 'library'}
        displaySettings={{
            blockquote: true,
            buttons: true,
            buttonTypes: true,
            buttonVariationsAll: true,
            code: true,
            codeLong: true,
            disabledButton: false,
            forms: false,
            formsLong: false,
            headingsList: false,
            listsMedium: false,
            listsLong: false,
            table: false,
            textMedium: false,
            textLong: false,
            textPage: false,
            toggleBlocks: false,
        }}
    />
    <p slot='sidebar'>I am a pretend sidebar content.</p>
</DocsPage>
