---
/**
 * @since 0.1.0-alpha
 *
 * @packageDocumentation
 */

/* import - types */

/* import - functions */

/* import - values */

/* import - components */
import LoremIpsum from '../../../astro/components/LoremIpsum.astro';

/* import - layouts */
import DocsPage from '../../layouts/DocsPage.astro';

/* TYPES ===================================== */

/* CONSTANTS ===================================== */
---

<DocsPage
    title={['Sidebar Right', 'Layouts']}
    subtitle='This layout has a sidebar on the right side.'
    layout='sidebar-right'
>
    <!-- <LoremIpsum /> -->
    <LoremIpsum mode='library' />
    <p slot='sidebar'>I am a pretend sidebar content.</p>
</DocsPage>
