///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

@forward 'functions';
@forward 'utility-sass';

@use 'pkg:@maddimathon/utility-sass/map';

@use '../config';

///
/// @since ___PKG_VERSION___
///
$contentGridAlignment: () !default;
$contentGridAlignment: map.merge(
    (
        justify-content: center,
        justify-items: stretch,
        align-content: start,
        align-items: start,
    ),
    map.flatten($contentGridAlignment)
);

///
/// @since ___PKG_VERSION___
///
$breakpoint_minHeight_fixedHeight: null !default;
$breakpoint_minHeight_fixedHeight: config.config-valid-number(
    $breakpoint_minHeight_fixedHeight,
    'breakpoint_minHeight_fixedHeight',
    $default: 15,
    $unit: 1
);
