---
/**
 * @since ___PKG_VERSION___
 *
 * @packageDocumentation
 */

/* import - types */
import type { ComponentProps } from 'astro/types';

/* import - functions */

/* import - values */

/* import - components */
import Heading from '../Heading.astro';

/* import - layouts */

/* TYPES ===================================== */

/* PROPS ===================================== */

// prettier-ignore
export type LorsumHeadingProps<T_HeadingProps extends ComponentProps<typeof Heading> = ComponentProps<typeof Heading>> = Omit<ComponentProps<typeof Heading>, 'displayHeading'> & Omit<T_HeadingProps, 'heading' | keyof ComponentProps<typeof Heading>> & {
    components?: {
        Heading?: (props: T_HeadingProps) => any;
    };

    heading: number;
    prefix?: undefined | string;
    subheading?: boolean;
};

export type Props = LorsumHeadingProps;

const {
    class: classList,
    components: { Heading: HeadingComponent = Heading } = {},
    heading,
    prefix,
    subheading = false,
    ...props
}: Props = Astro.props;

/* CONSTANTS ===================================== */
---

<HeadingComponent
    {...props}
    attrs={{
        hgroup: {
            class: ['loremipsum-heading-sample__hgroup'],
        },
        subheading: {
            class: ['loremipsum-heading-sample__subheading'],
        },
    }}
    class:list={[
        'loremipsum-heading-sample',
        {
            'loremipsum-heading-sample--hgroup': subheading,
            '||': classList,
        },
        classList,
    ]}
    displayHeading={heading > 0 ? heading : -1}
    heading={0}
    >{prefix ?? (heading > 0 ? `Heading ${heading}` : 'Unstyled Heading')} Maecenas
    <strong
        >Facilisis <a
            href='#'
            target='_blank'
            >Sollicitudin Nisi,</a
        ></strong
    > Eget Pellentesque Dui Rhoncus Condimentum; Aenean Lacinia Urna Sed Lacus Interdum
    Faucibus; Donec Quam Erat, Sagittis id Diam a, Hendrerit Viverra Ligula; Proin
    Efficitur Rhoncus ex Auctor Faucibus{
        subheading ? (
            // prettier-ignore
            <Fragment slot='subheading'>Morbi pulvinar ut <strong>arcu nec fermentum.</strong> Pellentesque at <a href='#' target='_blank'>ipsum malesuada,</a> egestas odio molestie, sollicitudin eros. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce in arcu ornare, varius ligula eget, mattis sem.</Fragment>
        ) : (
            ''
        )
    }</HeadingComponent
>
