///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward 'config';

@use 'sass:string';

@use 'config';

$_name: string.to-lower-case(config.$templateName);

@if $_name == default {
    /*! end of @maddimathon/utility-astro/template */
} @else {
    /*! end of @maddimathon/utility-astro/templates/#{string.to-lower-case(config.$templateName)} */
}
