///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward 'config';

@forward '_header';

@forward 'pkg:@maddimathon/utility-sass/notice';

@forward '00-abstracts';

@forward 'pkg:@maddimathon/utility-sass/template/content' hide $templateName;

@forward '01-globals';
@forward '02-layouts';
@forward '03-utilities';
@forward '04-components';

@forward '_footer';
