///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

@forward '../html/config' with (
    $template_name: 'Astro' !default,

    $mx_extendSelectors_headingsByRole: false !default,

    $template_print_astro: true !default,
    //
     //
);
