///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use 'default';

@forward 'pkg:@maddimathon/scss-templater/config' with (
    $defaultConfig: default.$config !default
);
