///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

/*!
 * Utility Astro Documentation
 * @maddimathon/utility-astro@___CURRENT_VERSION___
 * 
 * ___CURRENT_URL___
 * 
 * License: MIT
 */
