/// 
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
/// 

/*!
 * Utility Astro Documentation
 * @maddimathon/utility-astro@___CURRENT_VERSION___
 * 
 * ___CURRENT_URL___
 * 
 * Author: Maddi Mathon (www.maddimathon.com)
 * License: MIT
 */
 