///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '_header';

@forward '../../scss/templates/astro/config' with (
    $print_headings: true
);

@forward '../../scss/templates/astro';

@use '../../scss/templates/astro' as *;

@include js-support(whereSelector) {
    $_navHeight: 3rem;
    $_scrollPaddingFallback: calc(#{$_navHeight} + #{var-gap-block(layout)});

    &,
    & body {
        --height-nav-primary: #{$_navHeight};

        --scroll-padding-top: #{$_scrollPaddingFallback};
        --scroll-padding-top: calc(
            var(--height-nav-primary, #{$_navHeight}) + #{var-gap-block(layout)}
        );

        scroll-padding-top: var(
            --scroll-padding-top,
            #{$_scrollPaddingFallback}
        );
    }

    body {
        // margin-top: var(--scroll-padding-top, #{$_scrollPaddingFallback});
    }

    .nav-primary[data-toggle-container] {
        position: sticky;
        top: 0;
        grid-row: 1;

        margin: 0;
        padding: 0;

        z-index: 9999;

        > .toggle-title {
            padding-block: #{var-mrg-soft('200')};
            min-height: var(--height-nav-primary, #{$_navHeight});
        }

        > [data-toggle-content] {
            padding-inline: #{var-gap-block(layout-half)};
            width: 100%;

            z-index: -1;
        }
    }
    .website-settings-menu {
        margin-block-start: 0;
    }
}
