///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///
// @use 'sass:color';
// @use 'sass:list';
// @use 'sass:map';
// @use 'sass:math';
// @use 'sass:meta';
// @use 'sass:selector';
// @use 'sass:string';

@forward '_header';

@forward '../../scss/templates/html' with (
    $breakpoints: (
        'tablet': 20,
    )
    !default
);

@use '../../scss/templates/html' as utils;

@include utils.template-typedoc;

test.utility-astro.docs {
    /* this is a test of utils.$scale_multiplier */
    --content: #{utils.$scale_multiplier};
}

@include utils.min-width(tablet) {
    test.utility-astro.docs {
        /* I am inside a min-width( tablet ) mixin from utility-sass */
    }
}
