///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

@forward '_header';

@forward '../../scss/template/astro/config';

@forward '../../scss/template/astro' with (
    $print_templateDocBlock: false,
    $template_internal_supressCredit: false
);

@use 'pkg:@maddimathon/utility-sass/feature-check';

@use '../../scss/template/astro' as *;

@include feature-check.js-support(whereSelector) {
    $_navHeight: 3.125rem;
    $_scrollPaddingFallback: calc(#{$_navHeight} + #{var-gap-block(layout)});

    &,
    & body {
        --height-nav-primary: #{$_navHeight};

        --scroll-padding-top: #{$_scrollPaddingFallback};
        --scroll-padding-top: calc(
            var(--height-nav-primary, #{$_navHeight}) + #{var-gap-block(layout)}
        );

        scroll-padding-top: var(
            --scroll-padding-top,
            #{$_scrollPaddingFallback}
        );
    }

    .nav-primary[data-toggle-container] {
        position: sticky;
        top: 0;
        grid-row: 1;

        margin: 0;
        padding: 0;
        gap: 0;

        z-index: 9999;

        > .toggle-title {
            min-height: var(--height-nav-primary, #{$_navHeight});

            [data-toggle-control] {
                padding-block: min(0.75vh, #{var-mrg-soft('300')});
            }
        }

        > [data-toggle-content] {
            padding-inline: #{var-gap-block(layout-half)};
            width: 100%;

            z-index: -1;
        }
    }
    .website-settings-menu {
        margin-block-start: 0;
    }
}
