///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '_header';

@forward '../../scss/templates/astro';

// .nav-primary {
//     grid-row: 1;
// }
