///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

@forward '_header';

@forward '../../scss/template/astro/config';

@forward '../../scss/template/astro' with (
    $print_templateDocBlock: false,
    $template_internal_supressCredit: false
);

@use 'pkg:@maddimathon/utility-sass/feature-check';

@use '../../scss/template/astro/config';
@use '../../scss/template/astro' as *;

@include snippet-support-astro-toggle-nav-menu;

@include feature-check.supports(whereSelector) {
    $_navHeight: 3.125rem;

    @include cx-prop(height-nav-primary, $_navHeight);

    .nav-primary[data-toggle-container] {
        position: sticky;
        top: 0;
        grid-row: 1;

        margin: 0;
        padding: 0;
        gap: 0;

        z-index: 9999;

        > .toggle-title {
            min-height: #{do-var(height-nav-primary, $_navHeight)};

            [data-toggle-control] {
                padding-block: min(0.75vh, #{var-mrg-soft('300')});
            }
        }
    }
    .website-settings-menu {
        margin-block-start: 0;
    }
}
