///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../../../config' with (
    $include_featureCheck: true !default,
    $internal_supressCredit: true,
    $selectorType_mode: 'attribute' !default,
    $selectorType_motion: 'attribute' !default
);
