///
/// Used in subdirs to easily reference the lib.
///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../templates/astro/config' with (
    $include_html: true !default,

    $internal_isTemplate: false !default,

    $mx_extendHeadingsByRole: false !default,

    $print_astro: true !default,
    $print_globals: true !default,
    $print_normalize: true !default,
    $print_tokens: true !default,
    $print_utils: true !default
);
@forward '../tokens';

@forward '../notice';

@forward '../lib';

@use '../templates/astro/config';
@use '../lib' as *;
