///
/// Used in subdirs to easily reference the lib.
///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../config';
@forward '../tokens';
@forward '../lib';
