///
/// Used in subdirs to easily reference the lib.
///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../templates/astro/config';
@forward '../templates/astro/tokens';

@forward '../notice';

@forward '../templates/astro/lib';

@use '../templates/astro/config';
@use '../templates/astro/lib' as *;

@mixin extend-selectors {
    @include config.print-globals {
        @include extend-selector-globals($optional: true);
    }

    @include config.print-utils {
        @include extend-selector-utils($optional: true);
    }
}
