///
/// Used in subdirs to easily reference the lib.
///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../config' with (
    $print_globals: true !default,
    $print_tokens: true !default,
    $print_utils: true !default
);

@forward '../tokens';

@forward '../lib';

@use '../config';
@use '../lib' as *;

@mixin extend-selectors {
    @include config.print-globals {
        @include extend-selector-globals($optional: true);
    }

    @include config.print-utils {
        @include extend-selector-utils($optional: true);
    }
}
