///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

@use 'lib';
@use 'lib/config';

/* # LOREM IPSUM ==================================== */

$_lineClamp: lib.do-var(loremipsum-heading-sample-line-clamp, 3);

:global(.loremipsum-heading-sample),
:global(.loremipsum-heading-sample__subheading) {
    display: -webkit-inline-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $_lineClamp;
    line-clamp: $_lineClamp;
    overflow: hidden;

    padding-block-end: lib.var-stroke-relative('400');
}

:where(.button-span) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: start;
    align-content: start;
    align-items: first baseline;
}

@include lib.extend-selectors;
