///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

// @use '../../config';

@use '../../lib' as *;

/* # GLOBALS - TYPOGRAPHY
 * ======================================================================== */

%pre {
    grid-column: page-start / page-end;

    > code {
        max-width: min(120ch, #{var-width(page)});
    }

    @include min-width(page) {
        margin-inline: 0;
    }
}

%layout-sidebar-left,
%layout-sidebar-right {
    %pre {
        > code {
            max-width: #{var-width(content)};
        }
    }
}
