///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

@forward '../default/config' with (
    $template_name: 'Global' !default,

    $include_html: false !default,

    $mx_extendSelectors_headingsByRole: true !default,

    $template_globals: true !default,
    $template_tokens: true !default,
    //
     //
);
