///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

@use '../lib';

/* # TOGGLE BLOCKS ==================================== */

@include lib.snippet-support-astro-toggle;

@include lib.snippet-support-astro-toggle-nav-menu;

@include lib.extend-selectors($optional: true);
