///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward 'pkg:@maddimathon/utility-sass/tokens/functions' hide tokens-get-at-properties;

@use 'pkg:@maddimathon/utility-sass/tokens/functions' as fns;

@use 'pkg:@maddimathon/utility-sass/map';
@use 'pkg:@maddimathon/utility-sass/string';

///
/// @since ___PKG_VERSION___
///
@function tokens-get-at-properties($inputs, $stroke_relative, $style_flat, $args...) {
    @return fns.tokens-get-at-properties(
        $inputs: map.merge(
                (
                    grid-column: (
                        syntax: '*',
                        inherits: true,
                        initial-value: string.unquote('1 / 1'),
                    ),
                    icon-color: (
                        syntax: '<color>',
                        inherits: true,
                        initial-value: currentColor,
                    ),
                    icon-size: (
                        syntax: '<length-percentage> | <number>',
                        inherits: true,
                        initial-value: 1.375em,
                    ),
                    icon-size-large: (
                        syntax: '<length-percentage> | <number>',
                        inherits: true,
                        initial-value: 2em,
                    ),
                    icon-size--font-multiplier: (
                        syntax: '<number>',
                        inherits: true,
                        initial-value: 1,
                    ),
                ),
                $inputs,
                $recursive: true,
                $respectUNDEFINED: true
            ),
        $stroke_relative: $stroke_relative,
        $style_flat: $style_flat,
        $args...
    );
}
