///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use 'config';

@forward 'pkg:@maddimathon/utility-sass/template/content' with (
    $print_templateDocBlock: false,
    $template_internal_supressCredit: true
);
