///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward 'utility-sass';

@use '../../../config' as lib;

@use 'utility-sass' as utils;

///
/// @since 0.1.0-alpha
/// @since ___PKG_VERSION___ — Renamed from $print_astro_content to $template_print_astro_bodyGrid and moved from lib to template config.
///
$template_print_astro_bodyGrid: utils.$template_print_astro !default;

///
/// @since ___PKG_VERSION___
///
$template_print_icons: utils.$template_print_utils or utils.$template_print_astro !default;

///
/// @since 0.1.0-alpha
/// @since ___PKG_VERSION___ — Renamed from $print_astro_settingsMenu to $template_print_siteSettingsMenu and moved from lib to template config.
///
$template_print_siteSettingsMenu: utils.$template_print_astro !default;

///
/// @since 0.1.0-alpha
/// @since ___PKG_VERSION___ — Renamed from $print_astro_toggle to $template_print_toggleBlock and moved from lib to template config.
///
$template_print_toggleBlock: utils.$template_print_astro !default;

///
/// @since 0.1.0-alpha
/// @since ___PKG_VERSION___ — Renamed from $print_astro_toggleNav to $template_print_astro_toggleNav and moved from lib to template config.
///
$template_print_astro_toggleNav: utils.$template_print_astro and $template_print_toggleBlock !default;

///
/// @since 0.1.0-alpha.14
/// @since ___PKG_VERSION___ — Renamed from $print_astro_skipLinks to $template_print_skipLinks and moved from lib to template config.
///
$template_print_skipLinks: utils.$template_print_astro or
    ((utils.$template_print_globals or utils.$template_print_utils) and lib.$include_html) !default;
