///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use 'pkg:@maddimathon/utility-sass/config/functions' as fns;

///
/// An additional selector to use for active states. Declared separately from
/// ':active' for better compatibility.
///
/// @since ___PKG_VERSION___
///
$mx_interactiveStates_selector_active: null !default;
$mx_interactiveStates_selector_active: fns.config-valid-selector(
    $mx_interactiveStates_selector_active,
    'mx_interactiveStates_selector_active',
    $default: ('[data-state-active=true]')
);
