///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

// @use '_pre' as pre;

@forward 'pkg:@maddimathon/utility-sass/config' with (
    $internal_supressCredit: false !default,
    $mx_extendSelectors_headingsByRole: false !default,
    $selectorType_mode: 'attribute' !default,
    $selectorType_motion: 'attribute' !default,
    $selector_root: 'html' !default,
    //
     //
);
