///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use '../lib';

/* # TOGGLE BLOCKS ==================================== */

@include lib.snippet-support-astro-toggle;

@include lib.extend-selectors($optional: true);
