---
/**
 * Displays placeholder elements to test and display styles.
 *
 * @since 0.1.0-alpha
 *
 * @packageDocumentation
 */

/* import - types */
import type { ComponentProps } from 'astro/types';
import type { GenericProps } from '../../ts/types/index.js';
import type { LoremIpsumProps } from '../functions/loremIpsum.js';

/* import - functions */
import {
    getLoremIpsumDisplaySettings,
    getLoremIpsumIds,
} from '../functions/loremIpsum.js';

/* import - values */

/* import - components */
import Lorsum_Content_Abbreviated from './loremipsum/Lorsum_Content_Abbreviated.astro';
import Lorsum_Content_Full from './loremipsum/Lorsum_Content_Full.astro';
import Lorsum_Disclaimer from './loremipsum/Lorsum_Disclaimer.astro';
import Lorsum_Forms from './loremipsum/Lorsum_Forms.astro';
import Lorsum_Lists from './loremipsum/Lorsum_Lists.astro';
import Lorsum_Table from './loremipsum/Lorsum_Table.astro';
import Lorsum_Toggle from './loremipsum/Lorsum_Toggle.astro';
import Toggle from './Toggle.astro';

/* import - layouts */

/* EXPORTS ===================================== */

export * from '../functions/loremIpsum.js';

/* TYPES ===================================== */

/* PROPS ===================================== */

type Props = GenericProps<LoremIpsumProps>;

const {
    // abbreviated = false,
    superAbbreviated = false,
    ToggleComponent = Toggle,
    toggleProps = {},
    previewComponents = {},
    ...props
}: Props = Astro.props;

/* FUNCTIONS ===================================== */

/* CONSTANTS ===================================== */

const ifDisplay = getLoremIpsumDisplaySettings(props);

const tableOfContentsIds = getLoremIpsumIds(props, ifDisplay);

let _heading = props.heading ?? 2;

const displayHeading = props.displayHeading ?? _heading;

const heading = _heading + (props.abbreviated ? -1 : 0);

const disclaimerHTML = (await Astro.slots.render('disclaimer'))?.trim();

const fullProps = {
    displayHeading,
    heading,
    ifDisplay,
    previewComponents: {
        Forms: previewComponents.Forms ?? Lorsum_Forms,
        Lists: previewComponents.Lists ?? Lorsum_Lists,
        Table: previewComponents.Table ?? Lorsum_Table,
        Toggle: previewComponents.Toggle ?? Lorsum_Toggle,
    },
    props,
    tableOfContentsIds,
    ToggleComponent,
    toggleProps,
} satisfies ComponentProps<typeof Lorsum_Content_Full>;
---

{
    disclaimerHTML ? (
        <Fragment>
            <Lorsum_Disclaimer disclaimerHTML={disclaimerHTML} />
            {superAbbreviated ? (
                <Lorsum_Content_Abbreviated {...{ ifDisplay }}>
                    <slot />
                    <slot
                        slot='two'
                        name='two'
                    />
                    <slot
                        slot='three'
                        name='three'
                    />
                    <slot
                        slot='four'
                        name='four'
                    />
                </Lorsum_Content_Abbreviated>
            ) : (
                <Lorsum_Content_Full {...fullProps}>
                    <slot />
                    <slot
                        slot='two'
                        name='two'
                    />
                    <slot
                        slot='three'
                        name='three'
                    />
                    <slot
                        slot='four'
                        name='four'
                    />
                </Lorsum_Content_Full>
            )}
        </Fragment>
    ) : (
        <section
            class='display-contents'
            aria-label='Visual styles preview'
        >
            <Lorsum_Disclaimer disclaimerHTML={disclaimerHTML} />
            {superAbbreviated ? (
                <Lorsum_Content_Abbreviated {...{ ifDisplay }}>
                    <slot />
                    <slot
                        slot='two'
                        name='two'
                    />
                    <slot
                        slot='three'
                        name='three'
                    />
                    <slot
                        slot='four'
                        name='four'
                    />
                </Lorsum_Content_Abbreviated>
            ) : (
                <Lorsum_Content_Full {...fullProps}>
                    <slot />
                    <slot
                        slot='two'
                        name='two'
                    />
                    <slot
                        slot='three'
                        name='three'
                    />
                    <slot
                        slot='four'
                        name='four'
                    />
                </Lorsum_Content_Full>
            )}
        </section>
    )
}

<style lang='scss'>
    @forward '../css/lorem-ipsum.css';
</style>
