---
/**
 * @since 0.1.0-alpha
 *
 * @packageDocumentation
 */

/* import - types */
import type { GenericElementProps } from '../../ts/00-types/index.js';

/* import - functions */

/* import - values */

/* import - components */

/* import - layouts */

/* TYPES ===================================== */

/**
 * Individual list items.
 *
 * @since 0.1.0-alpha
 * @since 0.1.0-alpha.17 — Moved to component file.
 */
export type NestedListItem = {
    /**
     * Escaped HTML content for this item.
     */
    html: string;

    /**
     * Items for a sublist of this item.
     */
    children?: NestedListItem[];

    /**
     * Type of list to print for children, else inherits from parent list.
     */
    childrenTag?: 'ol' | 'ul';
};

/**
 * Input props for the NestedList component.
 *
 * @since 0.1.0-alpha
 * @since 0.1.0-alpha.17 — Moved to component file.
 */
// prettier-ignore
export interface NestedListProps<T_Item extends NestedListItem = NestedListItem> {
    /**
     * Nested list to print.
     */
    list: T_Item[];

    /**
     * Type of list to print.
     *
     * @default "ul"
     */
    tag?: 'ol' | 'ul';
}

/* PROPS ===================================== */

export interface Props extends GenericElementProps<
    NestedListProps,
    'ul' | 'ol'
> {}

const {
    list,
    class: classList = [],
    tag: ListTag = 'ul',
    ...attributes
}: Props = Astro.props.frontmatter ?? Astro.props;

/* CONSTANTS ===================================== */
---

<ListTag
    class:list={classList}
    {...attributes}
>
    {
        list.map((item) => (
            <li>
                <Fragment set:html={item.html} />
                {item.children?.length && (
                    <Astro.self
                        list={item.children}
                        tag={item.childrenTag ?? ListTag}
                    />
                )}
            </li>
        ))
    }
</ListTag>
