---
/**
 * @since ___PKG_VERSION___
 * 
 * @packageDocumentation
 */
/*!
 * @maddimathon/utility-astro@___CURRENT_VERSION___
 * @license MIT
 */

/* import - types */
import type { Props as NewComponentProps } from './NewComponent.d.ts';
import type { GenericElementProps } from '../../ts/types/index.js';

/* import - functions */

/* import - values */

/* import - components */

/* import - layouts */


/* TYPES ===================================== */


/* PROPS ===================================== */

export type Props = GenericElementProps<NewComponentProps, "div">;

const {
    class: classList = [],
    ...attributes
}: Props = Astro.props.frontmatter ?? Astro.props;


/* CONSTANTS ===================================== */


---

<div class:list={classList} {...attributes}><slot /></div>