///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

@forward '../_content/config' with (
    $template_name: 'HTML',

    $include_html: true !default,

    $isTemplate: true !default,

    $mx_extendSelectors_headingsByRole: true !default,

    $template_print_astro: false !default,
    $template_print_globals: true !default,
    $template_print_normalize: true !default,
    $template_print_tokens: true !default,
    $template_print_utils: true !default,
    //
     //
);
