///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

@forward '../global/config' with (
    $template_name: 'HTML' !default,

    $include_html: true !default,

    $selector_root: 'html' !default,

    $template_print_normalize: true !default,
    $template_print_utils: true !default,
    //
     //
);
