///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

// @use 'pkg:@maddimathon/utility-sass/config/functions' as fns;
@use 'sass:map';
@use 'sass:string';

@use '../../../../config' as lib;

///
/// @since 0.1.0-alpha
///
$template_name: 'Default' !default;

///
/// @since 0.1.0-alpha
///
$template_slug: string.to-lower-case($template_name) !default;

///
/// @since ___PKG_VERSION___
///
$template_isDefault: $template_slug == default !default;

///
/// @since ___PKG_VERSION___
///
$template_docBlock: not lib.$internal_supressCredit or lib.$isTemplate !default;

///
/// @since 0.1.0-alpha
/// @since ___PKG_VERSION___ — Renamed from $print_astro to $template_astro and moved from lib to template config.
///
$template_astro: false !default;

///
/// Whether to include the global selectors in the output. Otherwise, all
/// selectors are pseudo selectors.
///
/// @since 0.1.0-alpha
/// @since ___PKG_VERSION___ — Renamed from $print_globals to $template_globals and moved from lib to template config.
///
$template_globals: $template_astro !default;

///
/// Whether to include the utility class selectors in the output.
///
/// @since 0.1.0-alpha
/// @since ___PKG_VERSION___ — Renamed from $print_utils to $template_utils and moved from lib to template config.
///
$template_utils: lib.$include_html and ($template_globals or $template_astro) !default;

///
/// Whether to include the custom property definitions in the output.
///
/// @since 0.1.0-alpha
/// @since ___PKG_VERSION___ — Renamed from $print_tokens to $template_tokens and moved from lib to template config.
///
$template_tokens: $template_globals or $template_utils !default;

///
/// @since 0.1.0-alpha
/// @since ___PKG_VERSION___ — Renamed from $print_headings to $template_cssHeadings and moved from lib to template config.
///
$template_cssHeadings: lib.$isTemplate and
    ($template_astro or $template_globals or $template_tokens or $template_utils) !default;

///
/// Whether to include the extend selectors mixin after the template content.
///
/// @since ___PKG_VERSION___
///
$template_extendSelectors: $template_globals or $template_utils !default;

///
/// Whether to print certain styles.
///
/// @since ___PKG_VERSION___ — Merged $print_astro_content, $print_astro_settingsMenu, $print_astro_skipLinks, $print_astro_toggle, $print_astro_toggleNav into this var (from utility-sass update).
///
$template_styles: () !default;

$_styles_astro: map.deep-merge(
    (
        bodyGrid: $template_astro,
        toggleNav: $template_astro and
            if(
                map.has-key($template_styles, toggleBlock),
                map.get($template_styles, toggleBlock),
                true
            ),
    ),
    if(map.has-key($template_styles, astro), map.get($template_styles, astro), ())
);

$template_styles: map.deep-merge(
    (
        astro: $_styles_astro,

        blockquote: $template_globals,
        bodyFlow: not map.get($_styles_astro, bodyGrid),
        buttons: $template_globals,
        headings: $template_globals,
        icons: $template_utils,
        normalize: lib.$include_html and lib.$isTemplate,
        pre: $template_globals,

        skipLinks: (
            $template_astro or $template_globals or $template_utils,
        )
        and lib.$include_html,

        siteSettingsMenu: $template_astro,
        toggle: $template_astro,
    ),
    $template_styles
);
