---
/**
 * @since ___PKG_VERSION___
 *
 * @packageDocumentation
 */

/* import - types */

/* import - functions */

/* import - values */
import { SVG } from '../../../ts/svg.js';

/* import - components */
import AlertComponent from '../../../astro/components/Alert.astro';

/* import - layouts */
import DocsPage from '../../layouts/DocsPage.astro';
import { toTitleCase } from '@maddimathon/utility-typescript/functions';

/* TYPES ===================================== */

/* CONSTANTS ===================================== */

const allIcons = Object.keys(SVG) as (keyof typeof SVG)[];
---

<DocsPage title={['Alert', 'Components']}>
    {
        allIcons.map((type) => (
            <AlertComponent type={type}>
                <p slot='headline'>{toTitleCase(type)}</p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Maecenas risus dolor, maximus sed feugiat eget, ullamcorper
                    et libero. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Integer varius, eros et elementum
                    pellentesque, mi ipsum sollicitudin justo, in elementum
                    ipsum enim vitae odio.
                </p>
            </AlertComponent>
        ))
    }
</DocsPage>
