---
/**
 * @since ___PKG_VERSION___
 *
 * @packageDocumentation
 */

/* import - types */

/* import - functions */

/* import - values */

/* import - components */
import ToggleComponent from '../../../astro/components/Toggle.astro';

/* import - layouts */
import DocsPage from '../../layouts/DocsPage.astro';

/* TYPES ===================================== */

/* CONSTANTS ===================================== */
---

<DocsPage title={['Toggle', 'Components']}>
    <ToggleComponent id='toggle-ex-1'>
        <p>Boo!</p>
    </ToggleComponent>
</DocsPage>
