///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use '../../config';

@use '../../lib' as *;

@if config.$print_astro_toggle or config.$print_astro_settingsMenu {
    /* # ASTRO COMPONENT SUPPORT
     * ======================================================================== */
}

@if config.$print_astro_toggle {
    /* ## TOGGLE ==================================== */

    @include snippet-support-toggle;
}

@if config.$print_astro_settingsMenu {
    /* ## SETTINGS MENU ==================================== */

    @include snippet-support-settings-menu;
}
