---
/**
 * @since 0.1.0-alpha
 *
 * @packageDocumentation
 */

/* import - types */
import type { ComponentProps } from 'astro/types';
import type { GenericElementProps } from '../../../ts/types/index.js';
import type { AlertIconProps } from './Alert_Icon.astro';

/* import - functions */

/* import - values */

/* import - components */
import Alert_Icon from './Alert_Icon.astro';
import Heading from '../Heading.astro';

/* import - layouts */

/* TYPES ===================================== */

/**
 * Input props for the Alert component.
 *
 * @since 0.1.0-alpha
 * @since 0.1.0-alpha.17 — Moved to component file and renamed to AlertProps.
 */
export type AlertProps<T_IconProps extends AlertIconProps> = T_IconProps & {
    displayHeading?: number;
    heading?: number;
    minimumHeading?: number;
};

/* PROPS ===================================== */

// prettier-ignore
type Props<T_IconProps extends AlertIconProps = AlertIconProps> = GenericElementProps<AlertProps<T_IconProps>, 'section'>;

const {
    displayHeading,
    heading,
    minimumHeading = 2,
    slug,
    svg,
    svgLabel,
    type = 'star',
    class: classList = [],
    ...attributes
}: Props = Astro.props;

/* CONSTANTS ===================================== */

const iconProps = {
    slug,
    svg,
    svgLabel,
    type,
} as ComponentProps<typeof Alert_Icon>;

const headlineHTML =
    Astro.slots.has('headline') &&
    (await Astro.slots.render('headline'))?.trim();
---

<section
    {...attributes}
    class:list={[
        'alert-block',
        `alert-block--${slug ?? type}`,
        '||',
        classList,
    ]}
>
    {
        !headlineHTML ? (
            <Alert_Icon {...iconProps}>
                <slot name='icon' />
            </Alert_Icon>
        ) : (
            <Heading
                fallbackTag='header'
                displayHeading={displayHeading}
                heading={heading}
                minimum={minimumHeading}
                class='alert-block__headline'
            >
                <Alert_Icon {...iconProps}>
                    <slot name='icon' />
                </Alert_Icon>
                <span set:html={headlineHTML} />
            </Heading>
        )
    }
    <slot />
</section>
