///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use '_lib' as utils;

$print_globals: true !default;
$print_globals: utils.config-valid-bool($print_globals, 'print_globals');

@mixin print-globals {
    @if $print_globals {
        @content;
    }
}

$print_utils: utils.$include_html !default;
$print_utils: utils.config-valid-bool($print_utils, 'print_utils');

@mixin print-utils {
    @if $print_utils {
        @content;
    }
}
