---
/**
 * @since ___PKG_VERSION___
 * 
 * @packageDocumentation
 */
/*!
 * @maddimathon/utility-astro@___CURRENT_VERSION___
 * @license MIT
 */

/* import - types */
import type { Props as LibPageProps } from '../../astro/layouts/Page.d.ts';

/* import - functions */
import { arrayUnique, mergeArgs } from '@maddimathon/utility-typescript/functions';
import { absoluteInternalURL } from '../../astro/functions/absoluteInternalURL.js';

/* import - values */
import '../css/main.css';

/* import - components */

/* import - layouts */
import LibPage from '../../astro/layouts/Page.astro';


/* TYPES ===================================== */


/* PROPS ===================================== */

export interface Props extends Partial<LibPageProps> {}

const inputs: Props = Astro.props.frontmatter ?? Astro.props;

const props: Props & LibPageProps = mergeArgs( {

    title: 'Utility Astro',

    footer: {

        copyright: {
            html: (
                '<a href="https://www.maddimathon.com">Maddi Mathon</a>'
                + ' | '
                + '<a href="' + absoluteInternalURL( Astro.url, 'license' ) + '">MIT license</a>'
            ),
            // owner: 'Maddi Mathon',
            year: 2025,
        },
    },
    
    meta: {

        title: arrayUnique( [
            ...(
                inputs.title?.length
                ? ( Array.isArray( inputs.title ) ? inputs.title : [ inputs.title ] )
                : []
            ),
            'Utility Astro',
        ] ).join( ' — ' ),
    },

    skipLinks: [
        { href: '', label: 'testing' },
        { href: '', label: 'testing 2' },
    ],
    
} as Props & LibPageProps, inputs, true );


/* CONSTANTS ===================================== */

props.primaryMenu = [
    { label: 'Home', href: '' },
    { label: 'Components', child: [
        { label: 'Toggle', href: 'components/toggle' },
    ] },
];

---

<LibPage { ...props } accessibilityReportEmail="test@email.ca">

    <slot name="head-open" slot="head-open" />

    <meta slot="head-close" name="color-scheme" content="dark light" />
    
    <slot name="head-close" slot="head-close" />
    
    <slot name="body-open" slot="body-open" />

    <p slot="settings-menu-open" class="website-settings__disclaimer">These settings are saved using browser cookies.</p>
    
    <slot name="before-header" slot="before-header" />
    <slot name="header" slot="header" />
    <slot name="after-header" slot="after-header" />
    
    <slot />
    
    <slot name="before-footer" slot="before-footer" />
    <slot name="footer" slot="footer" />
    <slot name="after-footer" slot="after-footer" />
    
    <slot name="body-close" slot="body-close" />

    <slot name="footer-scripts" />

</LibPage>