---
/**
 * @since ___PKG_VERSION___
 *
 * @packageDocumentation
 */

/* import - types */
import type { Props as LibPageProps } from '../../astro/layouts/Page.d.ts';

/* import - functions */
import {
    arrayUnique,
    mergeArgs,
} from '@maddimathon/utility-typescript/functions';

import { absoluteInternalURL } from '../../astro/functions/index.js';

/* import - values */
import cssUrl from '../css/main.css?url';
import pkgJson from '../../../package.json';

/* import - components */

/* import - layouts */
import LibPage from '../../astro/layouts/Page.astro';

/* TYPES ===================================== */

/* PROPS ===================================== */

type Partial_LibProps = Partial<LibPageProps> & Pick<LibPageProps, 'title'>;

export interface Props extends Partial_LibProps {}

const inputs: Props = Astro.props.frontmatter ?? Astro.props;

const _defaultProps: Props & LibPageProps = {
    title: 'Utility Astro',

    dir: 'ltr',
    lang: 'en-CA',

    footer: {
        copyright: {
            html:
                '<a href="https://www.maddimathon.com">Maddi Mathon</a>' +
                ' | ' +
                '<a href="' +
                absoluteInternalURL(Astro.url, 'license') +
                '">MIT license</a>',
            // owner: 'Maddi Mathon',
            year: 2025,
        },
    },

    meta: {
        title: arrayUnique([
            ...(inputs.title?.length
                ? Array.isArray(inputs.title)
                    ? inputs.title
                    : [inputs.title]
                : []),
            'Utility Astro',
        ]).join(' — '),
    },

    settings: {
        contrast: true,
        motion: true,
    },
};

const props: Props & LibPageProps = mergeArgs(_defaultProps, inputs, true);

/* CONSTANTS ===================================== */

const cssUrl_versioned = cssUrl + '?v=' + pkgJson.version;

props.primaryMenu = [
    { label: 'Home', href: '' },
    {
        label: 'Astro',
        child: [
            {
                label: 'Components',
                child: [{ label: 'Toggle', href: 'components/toggle' }],
            },
            {
                label: 'Layouts',
                href: 'layouts',
                child: [
                    { label: 'Content-Only', href: 'layouts/content-only' },
                ],
            },
        ],
    },
    { label: 'SCSS', child: [{ label: 'HTML', href: 'scss/html' }] },
];
---

<LibPage
    {...props}
    accessibilityReportEmail={undefined}
>
    <link
        slot='head-open'
        rel='preload'
        href={cssUrl_versioned}
        as='style'
    />
    <link
        slot='head-open'
        rel='stylesheet'
        href={cssUrl_versioned}
    />

    <slot
        name='head-open'
        slot='head-open'
    />

    <meta
        slot='head-close'
        name='color-scheme'
        content='dark light'
    />

    <slot
        name='head-close'
        slot='head-close'
    />

    <slot
        name='body-open'
        slot='body-open'
    />

    <p
        slot='settings-menu-open'
        class='website-settings__disclaimer'
    >
        These settings are saved using browser cookies.
    </p>

    <slot
        name='before-header'
        slot='before-header'
    />
    <slot
        name='header'
        slot='header'
    />
    <slot
        name='after-header'
        slot='after-header'
    />

    <slot />

    <slot
        name='before-footer'
        slot='before-footer'
    />
    <slot
        name='footer'
        slot='footer'
    />
    <slot
        name='after-footer'
        slot='after-footer'
    />

    <slot
        name='body-close'
        slot='body-close'
    />

    <slot name='footer-scripts' />
</LibPage>
