---
/**
 * @since ___PKG_VERSION___
 *
 * @packageDocumentation
 */

/* import - types */
import type { Props as LibPageProps } from '../../astro/layouts/Page.d.ts';
import type { ContentType } from '../../astro/layouts/Content.astro';

/* import - functions */
import {
    arrayUnique,
    mergeArgs,
} from '@maddimathon/utility-typescript/functions';

import { absoluteInternalURL } from '../../astro/functions/index.js';

/* import - values */
import { SITE_TITLE } from '../constants.js';

/* import - components */

/* import - layouts */
import LibPage from '../../astro/layouts/Page.astro';

/* TYPES ===================================== */

/* PROPS ===================================== */

type Partial_LibProps = Partial<LibPageProps<ContentType>> &
    Pick<LibPageProps<ContentType>, 'title'>;

export interface Props extends Partial_LibProps {}

const _defaultProps = {
    title: [],

    dir: 'ltr',
    lang: 'en-CA',

    footer: {
        copyright: {
            html:
                '<a href="https://www.maddimathon.com">Maddi Mathon</a>' +
                ' | ' +
                '<a href="' +
                absoluteInternalURL(Astro.url, 'license') +
                '">MIT license</a>',
            // owner: 'Maddi Mathon',
            year: 2025,
        },
    },

    meta: {
        title: SITE_TITLE,
    },

    // settings: false,
    settings: {
        settings: {
            brightness: true,
            contrast: true,
            motion: true,
        },
    },
} as const satisfies Props & LibPageProps<ContentType>;

const props = mergeArgs<Props & LibPageProps<ContentType>, Props>(
    _defaultProps,
    Astro.props.frontmatter ?? Astro.props,
    true
);

/* CONSTANTS ===================================== */

const title = Array.isArray(props.title) ? props.title : [props.title];

if (!props.meta.title) {
    props.meta.title = arrayUnique(
        title.concat([_defaultProps.meta.title])
    ).join(' — ');
}

props.primaryMenu = [
    { label: 'Home', href: '' },
    {
        label: 'Astro',
        child: [
            {
                label: 'Components',
                child: [
                    // { label: 'Alert', href: 'components/alert' },
                    { label: 'Icon', href: 'components/icon' },
                    { label: 'Toggle', href: 'components/toggle' },
                ],
            },
            {
                label: 'Layouts',
                child: [
                    { label: 'Content Only', href: 'layouts/content-only' },
                    { label: 'Extra-Wide', href: 'layouts/extra-wide' },
                    { label: 'Full Width', href: 'layouts/full-width' },
                    { label: 'Sidebar Left', href: 'layouts/sidebar-left' },
                    { label: 'Sidebar Right', href: 'layouts/sidebar-right' },
                ],
            },
        ],
    },
    { label: 'SCSS', child: [{ label: 'Astro', href: 'scss/astro' }] },
];
---

<LibPage
    {...props}
    layout={props.layout || 'content-only'}
    title={title}
    accessibilityReportEmail={undefined}
>
    <slot
        slot='head-open'
        name='head-open'
    />

    <slot
        slot='head-close'
        name='head-close'
    />

    <meta
        slot='head-close'
        name='color-scheme'
        content='dark light'
    />

    <slot
        slot='body-open'
        name='body-open'
    />

    <slot
        name='settings-menu-open'
        slot='settings-menu-open'
    />
    <p
        slot='settings-menu-open'
        class='website-settings__disclaimer'
    >
        These settings are saved using browser cookies.
    </p>

    <slot
        name='settings-menu'
        slot='settings-menu'
    />
    <slot
        name='settings-menu-close'
        slot='settings-menu-close'
    />

    <slot
        slot='before-header'
        name='before-header'
    />

    <slot
        slot='header'
        name='header'
    />

    <slot
        slot='before-primary-nav'
        name='before-primary-nav'
    />

    <slot
        slot='after-primary-nav'
        name='after-primary-nav'
    />

    <slot
        slot='after-header'
        name='after-header'
    />

    <slot
        slot='content-header'
        name='content-header'
    />
    <slot
        slot='before-site-content'
        name='before-site-content'
    />
    <slot />
    <slot
        slot='after-site-content'
        name='after-site-content'
    />

    <slot
        slot='sidebar'
        name='sidebar'
    />
    <p slot='sidebar'>I am a pretend sidebar content.</p>

    <slot
        slot='before-secondary-nav'
        name='before-secondary-nav'
    />

    <slot
        slot='after-secondary-nav'
        name='after-secondary-nav'
    />

    <slot
        slot='before-footer'
        name='before-footer'
    />

    <slot
        slot='footer'
        name='footer'
    />

    <slot
        slot='after-footer'
        name='after-footer'
    />

    <slot
        slot='body-close'
        name='body-close'
    />

    <slot
        slot='footer-scripts'
        name='footer-scripts'
    />
</LibPage>

<style lang='scss' is:global>
    @forward '../css/main.css';
</style>
