///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward 'config' hide $defaultConfig;

// @forward '01-functions';
// @forward '02-mixins';
// @forward '03-snippets';
