///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

/*!
 * Utility Astro Template - Astro
 * 
 * @maddimathon/utility-astro@___CURRENT_VERSION___
 * License: MIT
 */
