///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use 'config';

@if not config.$internal_supressCredit {
    /*!
     * Utility Astro Template - Astro
     * 
     * @maddimathon/utility-astro@___CURRENT_VERSION___
     * License: MIT
     */
}
