///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward 'config';
@forward 'tokens';

@forward '_header';

@forward 'lib';

@forward '_content';

@forward '_footer';

/// # EXTENDING SELECTORS
/// ======================================================================== ///

@use 'config';

@use 'lib' as *;

@if config.$internal_extendSelectors {
    @include config.print-globals {
        @include extend-selector-globals;
    }

    @include config.print-utils {
        @include extend-selector-utils;
    }
}
