///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

@use '../old-lib';

/* # SCREEN READER TEXT ==================================== */

%screen-reader-text {
    @include old-lib.snippet-screen-reader-text;
}

@include old-lib.extend-selectors($optional: true);
