///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

@use '../lib';

/* # SCREEN READER TEXT ==================================== */

%screen-reader-text {
    @include lib.snippet-screen-reader-text;
}

@include lib.extend-selectors($optional: true);
