---
/**
 * @since ___PKG_VERSION___
 *
 * @packageDocumentation
 */

/* import - types */

/* import - functions */

/* import - values */

/* import - components */

/* import - layouts */

/* TYPES ===================================== */

/* PROPS ===================================== */

export interface Props {
    id: string;
    buttonHTML: string;
    buttonID: string;
}

const { id, buttonHTML, buttonID }: Props = Astro.props;

/* CONSTANTS ===================================== */
---

<button
    id={buttonID}
    class='toggle-control'
    aria-disabled='true'
    data-toggle-control={id}
    role='button'
>
    <span class='icon | toggle-icon'>
        <svg
            xmlns='http://www.w3.org/2000/svg'
            width='24'
            height='24'
            viewBox='0 0 24 24'
            fill='none'
            stroke='currentColor'
            stroke-width='2'
            stroke-linecap='round'
            stroke-linejoin='round'
            class='icon-plus'
            role='img'
            aria-hidden='true'
        >
            <path
                id='a'
                d='M5 12h14'
            ></path>
            <path
                id='b'
                d='M12 5v14'
            ></path>
        </svg>
    </span>
    <span
        class='toggle-control-inner'
        set:html={buttonHTML.trim()}
    />
</button>
