---
/**
 * @since 0.1.0-alpha
 *
 * @packageDocumentation
 */

/* import - types */
import type { GenericElementProps } from '../../ts/types/index.js';

/* import - functions */

/* import - values */

/* import - components */

/* import - layouts */

/* TYPES ===================================== */

/* PROPS ===================================== */

type Props = Omit<GenericElementProps<{}, 'button'>, 'id'> & {
    id: string;
    buttonID: string;

    icon?: boolean;
    iconSVG?: undefined | string;
};

const {
    buttonID,
    class: classList = [],
    id,

    icon = true,

    iconSVG,

    ...attrs
}: Props = Astro.props;

/* CONSTANTS ===================================== */

const buttonHTML = (await Astro.slots.render('default'))?.trim();

export const DEFAULT_TOGGLE_ICON = `<span class='icon icon--toggle | toggle-icon toggle-icon--fallback'>
    <svg
        aria-ignore='true'
        role='img'
        width='100%'
        height='100%'
        viewBox='0 0 24 24'
        version='1.1'
        xmlns='http://www.w3.org/2000/svg'
        xmlns:xlink='http://www.w3.org/1999/xlink'
        xml:space='preserve'
        fill='none'
        stroke='currentColor'
        stroke-width='2'
        stroke-linecap='round'
        stroke-linejoin='round'
    >
        <path
            id='a'
            d='M5 12h14'
        />
        <path
            id='b'
            d='M12 5v14'
        />
    </svg>
</span>`;
---

<button
    {...attrs}
    aria-disabled='true'
    class:list={['toggle-control', { '||': classList }, classList]}
    data-toggle-control={id}
    id={buttonID}
    type='button'
>
    {icon && <Fragment set:html={iconSVG ?? DEFAULT_TOGGLE_ICON} />}
    {
        (!attrs['aria-label'] || buttonHTML) && (
            <span
                class='toggle-control-inner'
                set:html={buttonHTML || 'Toggle me'}
            />
        )
    }
</button>

<style lang='scss'>
    @forward '../css/icon.css';
</style>
