///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use 'sass:string';

@forward '../../config' with (
    $internal_supressCredit: true,

    $include_featureCheck: true !default,

    $selector_root: (
        string.unquote('html'),
    )
    !default
);
