///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward 'config';
@forward 'utils';

@forward 'pkg:@maddimathon/utility-sass/templates/base';

@forward '_header';

@forward '_footer';

.page-title {
    @extend %title;
}
