///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward 'config';
@forward 'tokens';

@forward 'pkg:@maddimathon/utility-sass/templates/html' hide
    $internal_supressCredit;

@forward '_header';

@forward '_footer';
