///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

@use '../old-lib';

/* # TOGGLE BLOCKS ==================================== */

@include old-lib.snippet-support-astro-settings-menu;

@include old-lib.extend-selectors($optional: true);
