///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward 'pkg:@maddimathon/utility-sass/templates/html/config' with (
    $selectorType_mode: 'attribute' !default,
    $selectorType_motion: 'attribute' !default
);
