///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward 'pkg:@maddimathon/utility-sass/templates/base/config' with (
    $include_html: true,
    $include_normalize: true !default,
    $selectorType_mode: 'attribute' !default,
    $selectorType_motion: 'attribute' !default
);
