///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward 'pkg:@maddimathon/utility-sass/templates/base/config' with (
    $include_featureCheck: true !default,
    $include_html: true,

    $print_globals: false !default,
    $print_normalize: false !default,
    $print_tokens: false !default,
    $print_utils: false !default,

    $selectorType_mode: 'attribute' !default,
    $selectorType_motion: 'attribute' !default
);
