///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward 'pkg:@maddimathon/utility-sass/config' with (
    $include_html: false !default,

    $internal_isTemplate: false !default,
    $internal_supressCredit: true,

    $mx_extendHeadingsByRole: false !default,

    $print_globals: false !default,
    $print_normalize: false,
    $print_tokens: false,
    $print_utils: false !default,

    $selectorType_mode: 'attribute' !default,
    $selectorType_motion: 'attribute' !default,

    $selector_root: (
        'html',
    )
    !default
);
