///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

// @forward 'pkg:@maddimathon/utility-sass/notice' hide $internal_isTemplate,
//     $internal_supressCredit;

// @use 'config';

// @use 'old-lib/noticeMx' as *;

// @if not config.$internal_supressCredit and not config.$internal_isTemplate {
//     @at-root {
//         @include notice(true);
//     }
// }
