///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward 'pkg:@maddimathon/utility-sass/notice';

@use 'config';

@use 'lib/noticeMx' as *;

@if not config.$internal_supressCredit and not config.$internal_isTemplate {
    @at-root {
        @include notice;
    }
}
