///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward 'lib' hide $internal_supressCredit;

@use '../../html/config';

$internal_supressCredit: false !default;
$internal_supressCredit: config.config-valid-bool(
    $internal_supressCredit,
    'internal_supressCredit'
);
