///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '_lib' hide $internal_extendSelectors, $internal_supressCredit;

@use '../../html/config';

$internal_extendSelectors: true !default;
$internal_extendSelectors: config.config-valid-bool(
    $internal_extendSelectors,
    'internal_extendSelectors'
);

$internal_supressCredit: false !default;
$internal_supressCredit: config.config-valid-bool(
    $internal_supressCredit,
    'internal_supressCredit'
);
