///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use '../config';

@if config.$print_templateDocBlock {
    @if config.$template_isDefault {
        /**
         * Utility Astro Template
         */
    } @else {
        /**
         * Utility Astro Template - #{config.$template_name}
         */
    }
}
