///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use 'sass:string';

@use '../config';

@if config.$template_isDefault {
    /*! START of @maddimathon/utility-astro/template */
} @else {
    /*! START of @maddimathon/utility-astro/template/#{string.to-lower-case(config.$template_name)} */
}
