///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

@forward 'config';
@forward '../_content/_header' with (
    $template_name: 'Astro'
);
@forward '../../tokens';

@forward '../../old-lib';

@forward '../_content';

/// # EXTENDING SELECTORS
/// ======================================================================== ///

@use '../../old-lib' as *;
@use '../_content' as *;

@include extend-selectors;
