///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use '_header' as *;

@include print-template-header {
    /*! end of @maddimathon/utility-astro/templates/tokens */
}
