///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use 'config';

@mixin print-template-header {
    //
    $printing: config.$print_tokens or config.$print_globals or
        config.$print_utils;

    @if (not config.$internal_supressCredit) and $printing {
        @content;
    }
}

@include print-template-header {
    /*!
     * Utility Astro Template - Tokens
     * 
     * @maddimathon/utility-astro@___CURRENT_VERSION___
     * License: MIT
     */
}
