///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '_lib' hide $internal_supressCredit;

@use '_lib' as lib;

$internal_supressCredit: false !default;
$internal_supressCredit: lib.config-valid-bool(
    $internal_supressCredit,
    'internal_supressCredit'
);
